<table class="w-full">
  <tr>
    <td style="padding: 0px 20px;">
      <table  width="100%" border="0" cellpadding="0" cellspacing="0"  role="presentation">
        <tr>
          <td height="20">
      
          </td>
        </tr>
        <tr>
          <td align="left" style="color: #151515; font-family: Arial, Helvetica, sans-serif; font-size: 12px;line-height: 16px;">
          <strong>  Ut enim ad minim: </strong>
          </td>
        </tr>
        <tr>
          <td height="15">
      
          </td>
        </tr>
        <tr>
          <td align="left" style="color: #151515; font-family: Arial, Helvetica, sans-serif; font-size: 12px;line-height: 16px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      
          </td>
        </tr>
        <tr>
          <td height="15">
      
          </td>
        </tr>
        <tr>
          <td align="left" style="color: #151515; font-family: Arial, Helvetica, sans-serif; font-size: 12px;line-height: 16px;">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      
          </td>
        </tr>

        <tr>
          <td height="15">
      
          </td>
        </tr>

        <tr>
          <td align="left" style="color: #151515; font-family: Arial, Helvetica, sans-serif; font-size: 12px;line-height: 16px;">
          <strong>  Sint occaecat cupidatat: </strong>
          </td>
        </tr>
        <tr>
          <td height="15">
      
          </td>
        </tr>
        <tr>
          <td align="left" valign="top">
            <table width="100%" cellspacing="0" cellpadding="0">

              <tr>
                <td width="22" align="center" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;color:#151515;line-height: 16px; text-align: left;">
1.
                </td>
                <td align="center" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;color:#151515;line-height: 16px; text-align: left;">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </td>
              </tr>

              <tr>
                <td width="22" align="center" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;color:#151515;line-height: 16px; text-align: left;">
2.
                </td>
                <td  align="center" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;color:#151515;line-height: 16px; text-align: left;">
                  
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                </td>
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td height="15">
      
          </td>
        </tr>

        <tr>
          <td style="font-size: 1px; background-color: #002B2B;height:1px">

          </td>
        </tr>
      </table>
    </td>
  </tr>
  
</table>
